<h2>To Do<h2>
<form action="/trello/index" method="post">
        <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
        <input id="notes" name="notes" type="text">
        <input type="submit">
</form>
<div class="column">
<% @trello.each do |notes|%>
    <div class="trello">
    <%=notes.title%>
    <%=notes.body%>
    </div>
<%end%>
</div>


    

