<h2>To Do<h2>
<div class="column">
    <div class="trello">
    somestuff
    </div>
    <div class="trello">
    somestuff
    </div>
    <div class="trello">
    somestuff
    </div>
</div>
    <form>
        <input id="notes" name="notes" type="text">
        <input type="submit">
    </form>

<h2>Doing<h2>
<div class="column">
    <div class="trello">
    somestuff
    </div>
    <div class="trello">
    somestuff
    </div>
    <div class="trello">
    somestuff
    </div>
</div>
<form>
<input type="text">
<input type="submit">
</form>

<h2>Done<h2>
<div class="column">
    <div class="trello">
    somestuff
    </div>
    <div class="trello">
    somestuff
    </div>
    <div class="trello">
    somestuff
    </div>
    <form>
<input type="text">
<input type="submit">
</form>
</div>

