<div class="form">
<form action="/trello/index" method="post">
        <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
        <input id="title" name="title" type="text"> <br>
        <input id="body" name="body" type="text"><br>
        <select name="category"> 
        <option value="1">To Do</option>
        <option value="2">Doing</option> 
        <option value="3">Done</option>

        <input type="submit">
</form>
</div>

<div class="column" id="todo"><h1 class="header">To Do<h1></div>
<div class="column" id="doing"><h1 class="header">Doing<h1></div>
<div class="column" id="done"><h1 class="header">Done<h1></div>


<div class="column">
<% @trello.each do |notes|%>
    <div class="trello">
    <%=notes.title%>
    <%=notes.body%>
    </div>
<%end%>
</div>


      